li
	a(href='#overview') Overview
	ul.nav
		li
			a(href='#overview-doctype') HTML5 doctype
		li
			a(href='#overview-mobile') Mobile first
		li
			a(href='#overview-type-links') Typography and links
		li
			a(href='#overview-normalize') Normalize.css
		li
			a(href='#overview-container') Containers
li
	a(href='#grid') Grid system
	ul.nav
		li
			a(href='#grid-intro') Introduction
		li
			a(href='#grid-media-queries') Media queries
		li
			a(href='#grid-options') Grid options
		li
			a(href='#grid-example-basic') Ex: Stacked-to-horizontal
		li
			a(href='#grid-example-fluid') Ex: Fluid container
		li
			a(href='#grid-example-mixed') Ex: Mobile and desktop
		li
			a(href='#grid-example-mixed-complete') Ex: Mobile, tablet, desktop
		li
			a(href='#grid-example-wrapping') Ex: Column wrapping
		li
			a(href='#grid-responsive-resets') Responsive column resets
		li
			a(href='#grid-offsetting') Offsetting columns
		li
			a(href='#grid-nesting') Nesting columns
		li
			a(href='#grid-column-ordering') Column ordering
		li
			a(href='#grid-less') Less mixins and variables
li
	a(href='#type') Typography
	ul.nav
		li
			a(href='#type-headings') Headings
		li
			a(href='#type-body-copy') Body copy
		li
			a(href='#type-inline-text') Inline text elements
		li
			a(href='#type-alignment') Alignment classes
		li
			a(href='#type-transformation') Transformation classes
		li
			a(href='#type-abbreviations') Abbreviations
		li
			a(href='#type-addresses') Addresses
		li
			a(href='#type-blockquotes') Blockquotes
		li
			a(href='#type-lists') Lists
li
	a(href='#code') Code
	ul.nav
		li
			a(href='#code-inline') Inline
		li
			a(href='#code-user-input') User input
		li
			a(href='#code-block') Basic block
		li
			a(href='#code-variables') Variables
		li
			a(href='#code-sample-output') Sample output
li
	a(href='#tables') Tables
	ul.nav
		li
			a(href='#tables-example') Basic example
		li
			a(href='#tables-striped') Striped rows
		li
			a(href='#tables-bordered') Bordered table
		li
			a(href='#tables-hover-rows') Hover rows
		li
			a(href='#tables-condensed') Condensed table
		li
			a(href='#tables-contextual-classes') Contextual classes
		li
			a(href='#tables-responsive') Responsive tables
li
	a(href='#forms') Forms
	ul.nav
		li
			a(href='#forms-example') Basic example
		li
			a(href='#forms-inline') Inline form
		li
			a(href='#forms-horizontal') Horizontal form
		li
			a(href='#forms-controls') Supported controls
		li
			a(href='#forms-controls-static') Static control
		li
			a(href='#forms-control-focus') Focus state
		li
			a(href='#forms-control-disabled') Disabled state
		li
			a(href='#forms-control-readonly') Readonly state
		li
			a(href='#forms-help-text') Help text
		li
			a(href='#forms-control-validation') Validation states
		li
			a(href='#forms-control-sizes') Control sizing
li
	a(href='#buttons') Buttons
	ul.nav
		li
			a(href='#buttons-tags') Button tags
		li
			a(href='#buttons-options') Options
		li
			a(href='#buttons-sizes') Sizes
		li
			a(href='#buttons-active') Active state
		li
			a(href='#buttons-disabled') Disabled state
li
	a(href='#images') Images
	ul.nav
		li
			a(href='#images-responsive') Responsive images
		li
			a(href='#images-shapes') Image shapes
li
	a(href='#helper-classes') Helper classes
	ul.nav
		li
			a(href='#helper-classes-colors') Contextual colors
		li
			a(href='#helper-classes-backgrounds') Contextual backgrounds
		li
			a(href='#helper-classes-close') Close icon
		li
			a(href='#helper-classes-carets') Carets
		li
			a(href='#helper-classes-floats') Quick floats
		li
			a(href='#helper-classes-center') Center content blocks
		li
			a(href='#helper-classes-clearfix') Clearfix
		li
			a(href='#helper-classes-show-hide') Showing and hiding content
		li
			a(href='#helper-classes-screen-readers') Screen reader and keyboard navigation content
		li
			a(href='#helper-classes-image-replacement') Image replacement
li
	a(href='#responsive-utilities') Responsive utilities
	ul.nav
		li
			a(href='#responsive-utilities-classes') Available classes
		li
			a(href='#responsive-utilities-print') Print classes
		li
			a(href='#responsive-utilities-tests') Test cases
li
	a(href='#less') Using Less
	ul.nav
		li
			a(href='#less-bootstrap') Compiling Bootstrap
		li
			a(href='#less-variables') Variables
		li
			a(href='#less-mixins-vendor') Vendor mixins
		li
			a(href='#less-mixins-utility') Utility mixins
li
	a(href='#sass') Using Sass
	ul.nav
		li
			a(href='#sass-contents') What's included
		li
			a(href='#sass-installation') Installation
