li
	a(href='#download') Download
li
	a(href='#whats-included') What's included
	ul.nav
		li
			a(href='#whats-included-precompiled') Precompiled
		li
			a(href='#whats-included-source') Source code
li
	a(href='#grunt') Compiling CSS and JavaScript
	ul.nav
		li
			a(href='#grunt-installing') Installing Grunt
		li
			a(href='#grunt-commands') Available Grunt commands
		li
			a(href='#grunt-troubleshooting') Troubleshooting
li
	a(href='#template') Basic template
li
	a(href='#examples') Examples
	ul.nav
		li
			a(href='#examples-framework') Using the framework
		li
			a(href='#examples-navbars') Navbars in action
		li
			a(href='#examples-custom') Custom components
		li
			a(href='#examples-experiments') Experiments
li
	a(href='#tools') Tools
	ul.nav
		li
			a(href='#tools-bootlint') Bootlint
li
	a(href='#community') Community
li
	a(href='#disable-responsive') Disabling responsiveness
li
	a(href='#migration') Migrating from 2.x to 3.0
li
	a(href='#support') Browser and device support
	ul.nav
		li
			a(href='#support-browsers') Supported browsers
		li
			a(href='#support-ie8-ie9') Internet Explorer 8-9
		li
			a(href='#support-ie8-respondjs') IE8 and Respond.js
		li
			a(href='#support-ie8-box-sizing') IE8 and box-sizing
		li
			a(href='#support-ie8-font-face') IE8 and @font-face
		li
			a(href='#support-ie-compatibility-modes') IE Compatibility modes
		li
			a(href='#support-ie10-width') IE10 and Windows (Phone) 8
		li
			a(href='#support-safari-percentages') Safari percent rounding
		li
			a(href='#support-fixed-position-keyboards') Modals, navbars, and virtual keyboards
		li
			a(href='#support-browser-zooming') Browser zooming
		li
			a(href='#support-sticky-hover-mobile') Sticky :hover/:focus on mobile
		li
			a(href='#support-printing') Printing
		li
			a(href='#support-android-stock-browser') Android stock browser
		li
			a(href='#support-validators') Validators
li
	a(href='#third-parties') Third party support
li
	a(href='#accessibility') Accessibility
li
	a(href='#license-faqs') License FAQs
li
	a(href='#translations') Translations
